{% extends 'base.html' %}

{% load static %}

{% block title %} Quienes Somos {% endblock  %}

{% block contenido %}


<body class="N">

    <section class="MisionH">
        <h3>Mision</h3>
        <figure class="image-figure">
      <img src="img/img8 (1).jpg" alt="Imagen 1">
      <p>"En Laly Cocktails, nos enorgullece ser líderes en la creación de cócteles exclusivos a base de granizados. Nacimos en Ibagué, Tolima, el 4 de diciembre de 2020 con una visión clara: unir familias y compartir experiencias inolvidables a través de nuestras creaciones. Nos esforzamos por ofrecer momentos únicos y refrescantes, brindando a nuestros clientes la oportunidad de disfrutar de deliciosos cócteles que despiertan sus sentidos y crean memorias duraderas. Nuestra pasión por la innovación y la calidad nos impulsa a explorar nuevos sabores y combinaciones, asegurando siempre una experiencia de sabor excepcional. Estamos comprometidos con la excelencia y con ser una marca reconocida por nuestra dedicación a la satisfacción de nuestros clientes. ¡Ven y únete a nosotros en esta aventura refrescante!"</p>
        </figure>
    </section>
    </div>

  <section class="MisionH">
    <h3>Vision</h3>
    <figure class="image-figure1">
      <img src="img/img3 (1).jpg" alt="Imagen 1">
    <p>"Nuestra visión en Laly Cocktails es convertirnos en un referente destacado en la industria de los cócteles a base de granizados. Nos esforzamos por ser reconocidos a nivel nacional e internacional como una marca líder y confiable en la creación de experiencias únicas y refrescantes. Buscamos expandir nuestro alcance, estableciendo nuevas ubicaciones y llegando a un público más amplio, siempre manteniendo nuestra esencia de unir familias y compartir momentos especiales. Nos impulsa la pasión por la innovación, la calidad y el servicio excepcional. Aspiramos a ser reconocidos por nuestra creatividad en la creación de cócteles, la excelencia en nuestros productos y la satisfacción constante de nuestros clientes. Con perseverancia y dedicación, trabajamos para dejar una huella duradera en la industria de los cócteles y ser la opción preferida de aquellos que buscan una experiencia refrescante y memorable."</p>
  </section>

  <section class="MisionH">
    <h3>Nuestro Eslogan</h3>
    <p>"¡Saborea la frescura, vive la pasión!"</p>
    <figure class="image-figure2">
      <img src="img/img1 (1).jpg" alt="Imagen 1">
  </section>

  <!-- Botón de WhatsApp -->
  <a id="whatsapp-button" href="https://wa.me/+573128796618" target="_blank">
    <i class="fab fa-whatsapp"></i>

  </a>
</bodyn>
{% endblock %}