.custom-bg{
  background-image:url("../img/Pared\ purpura.png") ;
  background-size: cover;
  background-position: center;
}

.custom-lt{
  color: #FFFFFF;
  font-family:cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
}

.custom-title{
  padding-top: 2em;
  font-size: 2em;
}

.custom-txt{
  padding-top: 3em;
  font-size: 1em;
}

.custom-slogan{
  padding-top: 2em;
  font-size: 0.9em;
}

.custom-logout{
  height: 100vh;
}

.errorlist{
  color: #FFFFFF;
  padding: 0%;
}



.imglogo{
    height: 80px;
    width: 60px;
}
.navuno{
    background-image:url("../img/Pared\ purpura.png") ;
    background-size: cover;
    position: fixed;
    width: 100%;
    z-index: 999;
    box-shadow: inset 0px -10px 5px -2px rgba(90, 1, 255, 0.377);
}

.secsionpri{
width: 100%;
align-items: center;
height:100%;
display: flex;
flex-direction: row;
overflow: hidden;
padding-top: 50px;
background-image: url("../img/Pared\ purpura.png");
}

.sec1{
align-items: center;
height: 665px;
width: 60%;
position: relative; 
overflow: hidden;

}

.imgwave2{
  height: 100%;
  width: 55%;
  position: absolute;
  z-index: 998;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.719));

}

.svgwave{
  height: 100%;
  width: 215%;
  filter: drop-shadow(0 0 20px #0b07ebaf);
}


@keyframes wave{
0%{
  transform:translate(0)
}
80%{
  transform: translate(-2.5%);
}
}

.pathwave{
  box-shadow: 0px -5px 5px #ff17ffe5;
  fill:#da45d39d; 
  animation: wave linear 2s infinite;
  width: 100%;
}

.sec2{
height: 100%;
display: flex;
flex-flow: row wrap;
gap: 20px;
}

.pluma3{
  border-radius: 62% 38% 70% 30% / 92% 74% 26% 8% ;
  background-size:cover;
  background-image: url("../img/ide3.png");
  width: 455px;
  height: 316px;
  transition: all 1s;
  box-shadow:
  inset 0 3em 3em rgb(0, 0, 0),
        0.3em 0.3em 1em rgba(6, 160, 243, 0.72),
        0.9em 0.9em 1em rgba(204, 6, 243, 0.72);
        
}


.imgtras{
  filter: drop-shadow(0 0 20px rgba(39, 16, 244, 0.604));
  width: 455px;
  height: 319px;
}

.imgtras:hover{
  transform:scale(1.3);
  filter: drop-shadow(0 0 20px rgba(204, 6, 243, 0.72));
  transition: 3s;
}


 .pluma3:hover{
  border-radius:49% 51% 77% 23% / 30% 81% 19% 70% ;
  opacity: 1;
  background: #d940ea2a;        
}

.waves1{
position: relative;
width: 100%;
height: 15vh;
margin-bottom: -7px;

}




  .card1{
    margin: 20px;
    border-radius: 5px;
    background-size: cover;
      box-shadow:
       inset 0 3em 3em rgb(0, 0, 0),
             0.3em 0.3em 1em rgba(6, 160, 243, 0.72),
             0.9em 0.9em 1em rgba(204, 6, 243, 0.72);
             

   /* background-image:url(Pared\ purpura.png) ;*/
}
.cardslaya{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image:url("../img/Pared\ purpura.png") ;
    background-size: cover;
}
.content1{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: rgba(102, 0, 255, 0.4);
 opacity: 0;
 transition: .5s;

}
.content1 h5 {
    color:rgba(255, 255, 255, .8);
    margin: 10px 0;
    text-shadow:0 0 5px #F5F5F5, 0 0 15px #F5F5F5, 0 0 30px #F5F5F5 ;
}
.card:hover .content1 {
    opacity: 1;
}


/* foter */

footer {
    background-image: url(../img/Pared\ purpura.png);
   background-size: cover;
    text-align: center;
    background-size: cover;

  }
  
  .container {
    max-width: 960px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
  
  .container p {
    margin: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .ulfo {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .lifo {
    text-align: center;
    color: #ffffff;
    margin-right: 20px;
  }
  
  .afo {
    text-decoration: none ;
    color: #ffffff;
  }
  
  .afo:hover {
    color: #ffffff;
  }
  
  .pfo {
    text-align: center;
    color:rgba(255, 255, 255, .8);
    text-shadow:0 0 5px #F5F5F5, 0 0 15px #F5F5F5, 0 0 30px #F5F5F5 ;
  }


.custom-shape-divider-bottom-1684781386 {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1684781386 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 173px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684781386 .shape-fill {
    fill: #FFFFFF;
}
  
  /* producatos css */

  .product {
  border-radius: 5px;
  color: #ffffff;
  background-color:#1403608c;
  box-shadow: 0 0 20px #5b07eb;
	margin: 20px;
	padding: 20px;
	width: 300px;
	text-align: center;
}


.mainpro  {
  background-image: url(../img/Pared\ purpura.png);
}

.imgpro{
	display: block;
	margin: 0 auto;
    width: 150px;
    height: 150px;
}

.container {
  border-radius: 5px;
  color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color:#1403608c;
  box-shadow: 0 0 20px #5b07eb;
  }
  
  .container p {
    border-radius: 5px;
    color: #ffffff;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color:#1403608c;
    box-shadow: 0 0 20px #5b07eb;
  }
  
  main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
/* resposive */


@media(max-width:550px){
    .cardslaya{
        display: grid;
        grid-template-columns:auto;

    }

}

@media(max-width:1100px){

  .secsionpri{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height:860px;
  }

  .sec2{
    align-items: center;
    justify-content: center;
    height: 85%;
    flex-wrap: wrap;
    justify-content: flex-start;
    }

  .sec1{
    display: none;
  }

  .custom-shape-divider-bottom-1684642725 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}


.custom-shape-divider-bottom-1684642725 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1684642725 .shape-fill {
    fill: #FFFFFF;
}

}


   /* tiendas css*/

  .bodytienda {
    font-family: Arial, sans-serif;
    background-image:url("../img/Pared\ purpura.png");
    margin: 0;
  }

 .sectionti{
  border-radius: 5px;
  color: #ffffff;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color:#1403608c;
  box-shadow: 0 0 20px #5b07eb;
}

.sectionti h2 {
  margin-top: 0;
  text-align: center;
  color:rgba(255, 255, 255, .8);
  margin: 10px 0;
  text-shadow:0 0 5px #F5F5F5, 0 0 15px #F5F5F5, 0 0 30px #F5F5F5 ;
}

.sectionti ul li {
  margin-bottom: 10px;
}

.sectionti ul li a {
  display: block;
  padding: 10px;
  background-color: #00000000;
  text-decoration: none;
  color: #F5F5F5;

}

.sectionti ul li a:hover {
  background-color: #8b1ff66d;
}

#mapa {
  height: 30px;
  margin-bottom: 0px;
}

.articlet {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #4e17a5;
  border-radius: 5px;
}

.articlet h3 {
  color:rgba(255, 255, 255, .8);
  margin: 10px 0;
  text-shadow:0 0 5px #F5F5F5, 0 0 15px #F5F5F5, 0 0 30px #F5F5F5 ;
  margin-top: 0;
}

.adret {
  font-style: normal;
}
  
   /* nosotros css*/

   .fondoestatico{
    background-image: url("../img/nosocap.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 590px ;
    display: flex;
    align-items:flex-start;
    width:100%;
    background-size: cover;
    }
  
    .fondoestatico h3 {
      font-size: 100px;
      color:rgba(255, 255, 255, 0.992);
      text-shadow:0 0 5px #F5F5F5, 0 0 15px #F5F5F5, 0 0 30px #F5F5F5 ;
    }
  
  .sectionno {
    text-align: center;
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
  }
  
  
  .sectionno p {
    margin-top: 2em;
    color: #000000;
  }
  

  /*login-  registro */

  .body_l, html {
    height: 100%;
  }

  .body_l p, h2 {
   color: #ffffff;
  }
  
  .body_l {
    margin: 0;
    padding: 0;
    background-image:url("../img/Pared\ purpura.png") ;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'lato', sans-serif;
    }
  
  .form-box_l {
    width: 300px;
    padding: 40px;
    margin: 30px;
    background-color:#1403608c;
    box-shadow: 0 0 20px #5b07eb;
    text-align: center;
    border-radius: 15px;
  }
  
  .form-box_l a{
  color: #F5F5F5;
  text-decoration: none;
  }
    

  .form-title_l {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .form-box_l input[type="text"],
  .form-box_l input[type="password"],
  .form-box_l button[type="submit"],
  .form-box_l input[type="email"] {
      border: 0;
      background: none;
      display: block;
      margin: 20px auto;
      padding: 14px 10px;
      text-align: center;
      border: 2px solid #6b05e0a9;
      width: 200px;
      outline: none;
      color: white;
      border-radius: 24px;
      transition: 0.25s;
  }
  
  .form-box_l input[type="text"]:focus,
  .form-box_l input[type="password"]:focus {
      width: 200px;
      border-color: #ffffff;
  }
  
  .form-box_l button[type="submit"] {
      border: 0;
      background: #6b05e0a9;
      cursor: pointer;
      border: 2px solid white;
      text-decoration: none;

  }
  
  .form-box_l button[type="submit"]:hover {
      background: none;
      text-decoration: none;
  }

  .cart{
    overflow-y: hidden;
  }


    /* nosotros */

    bodyN,.N {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image: url("../img/Pared\ purpura.png");
      color: white;
      
    }

    .NosotrosH h2 {
      margin: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .NosotrosH h2 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      transition: text-shadow 0.3s;
    }

    .NosotrosH h2:hover {
      text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    }

    .MisionH h3 {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      transition: text-shadow 0.3s;
    }

    .MisionH h3:hover {
      text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    }

    .MisionH P {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      transition: text-shadow 0.3s;
    }

    .MisionH p:hover {
      text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.7);
    }
   
    .MisionH {
      background-color: #a8a1df2f;
      text-align: center;
      width: 100%;
    }

    /* Estilos adicionales para mejorar la apariencia */
    .MisionH h3 {
      margin-top: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      box-shadow: 5px 12px 20px rgba(99, 65, 145, 0.726); 
    }

    .MisionH p {
      line-height: 1.5;
      font-family: 'Times New Roman', Times, serif;
      font-size: x-large;
    }

    /* Estilos CSS */
    .image-container {
      position: relative;
      display: inline-block;
      overflow: hidden;
      margin: 60px;
      width: 300px; 
      box-shadow: 5px 12px 20px rgba(99, 65, 145, 0.726);

    }

    .image-container img {
      transition: transform 0.3s;
      max-width: 100%; 
      height: auto; 
    }

    .image-container:hover img {
      transform: scale(1.1);
    }

    #whatsapp-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 60px;
      height: 60px;
      background-color: #6f00ff71;
      border-radius: 60%;
      text-align: center;
      color: #ffffff;
      font-size: 24px;
      line-height: 60px;
      cursor: pointer;
      z-index: 9999;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.9); 
    }

    #whatsapp-button:hover {
      background-color: #25D366; 
    }

    .custom-shape-divider-bottom-1686770473 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1686770473 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1686770473 .shape-fill {
    fill: #8662cac2;
}

.image-figure {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .image-figure img {
      width: 300px;
      height: 350px;
      box-shadow: 5px 12px 20px rgba(99, 65, 145, 0.726);
      order: 2; 
    }

    .image-figure1 {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .image-figure1 img {
      width: 300px;
      height: 350px;
      box-shadow: 5px 12px 20px rgba(99, 65, 145, 0.726);
      order: 1; 
      max-width: 100%;
      height: auto;
    }

    .image-figure1 p {
      order: 2; 
    }

    .image-figure2 {
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 100%;
      height: auto;
    }

    .image-figure2 img {
      width: 1200px;
      height: 350px;
      box-shadow: 5px 12px 20px rgba(99, 65, 145, 0.726);
      
    }
    
    